#home {
  height: 100vh;
}
h1 {
  font-family: "Monoton", cursive;
  padding: 300px 0;
}
h2 {
  font-family: "Orbitron", sans-serif;
}

h3 {
  font-family: "Bangers", cursive;
  margin-top: 250px;
}

#third-member {
  background-color: #326f6d !important;
  color: #f3eada !important;
}
.ayah {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 20 10px;
}

#fourthMember h3 {
  letter-spacing: 10px;
}
#fourthMember h2 {
  color: #e6f4f1;
}

#fourthMember h3 {
  color: #e6f4f1;
}
